html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

nav,
section {
    display: block;
}

body {
    background: #9684a3 none repeat scroll 0 0;
    color: #222;
    font-family: "Raleway", sans-serif;
    font-size: 100%;
    line-height: 12px;
    margin: 0;
    padding: 0;
}

section {
    float: left;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 0em;
}


/* ******************************************************
	Circular Navigation Menu
*********************************************************/

.CircularNavigation,
.CircularNavigationL2 {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}

.circleNavi,
.circleNaviL2 {
    width: 400px;
    height: 400px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out;
    position: relative;
    float: left;
    /* right: 105px;
    bottom: 90px; */
}

.circleNavi .aL1 {
    text-decoration: none;
    color: white;
    display: block;
    height: 80px;
    width: 60px;
    line-height: 40px;
    margin-left: 180px;
    margin-top: 200px;
    position: absolute;
    text-align: center;
}

.circleNaviL2 .aL2 {
    text-decoration: none;
    color: white;
    display: block;
    height: 80px;
    width: 60px;
    line-height: 40px;
    margin-left: 120px;
    margin-top: 60px;
    position: absolute;
    text-align: center;
}

.circleNavi .aL1:hover {
    color: #eef;
}

.circleNavi i.fa {
    border: 1px solid #4c1b6f;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 12px;
}

.open.circleNavi,
.open.circleNaviL2 {
    opacity: 1;
    transform: scale(1);
}

.navbtn,
.navbtnL2 {
    background: #6d438b none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 100px;
    left: calc(50% - 266px);
    line-height: 40px;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: calc(50% - 150px);
    width: 100px;
}


/* .navbtn:hover {
    background-color: #4c1b6f;
} */

@media only screen and (max-width: 600px) {
    .CircularNavigation {
        width: 120px;
        height: 390px;
    }
    .circleNavi {
        width: 100px;
        height: 440px;
        opacity: 0;
        transform: scale(0);
        transition: all 0.4s ease-out;
        position: relative;
        float: left;
    }
    .circleNavi a {
        text-decoration: none;
        color: white;
        display: block;
        height: 80px;
        width: 60px;
        line-height: 10px;
        margin-left: -20px;
        margin-top: -20px;
        position: absolute;
        text-align: center;
    }
    .navbtn {
        background: #6d438b none repeat scroll 0 0;
        border-radius: 50%;
        color: #fff;
        display: block;
        height: 100px;
        left: calc(50% - 50px);
        line-height: 40px;
        padding: 10px;
        position: absolute;
        text-align: center;
        text-decoration: none;
        top: calc(50% - 50px);
        width: 100px;
    }
}