body {
    position: relative;
    font: size 12px;
    margin: 5px;
    padding: 5px;
}

.main-nav {
    padding: 28px 0 28px 0;
}

.navbar .nav-links li {
    display: inline;
    list-style-type: none;
    margin-left: 28px;
}

.navbar .nav-links {
    float: right;
    line-height: 32px;
}

.navbar {
    display: block;
    min-height: 0;
    margin-bottom: 0;
}

nav.navbar a {
    color: #fff;
    font-weight: 600;
}

nav.navbar a:hover {
    color: #fff;
    text-decoration: none;
}

.nav-links .selected {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.main-headline {
    background: linear-gradient(90deg, rgba(240, 237, 245, 100) 50%, rgba(255, 255, 255, 0) 50%);
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.headline {
    width: 50%;
    padding: 32px 50px 100px 0;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #86818F;
    line-height: 26px;
}

p.introducing {
    text-transform: uppercase;
    font-weight: 500;
    color: #AEA9B8;
    margin-bottom: 0px;
}

h1 {
    font-weight: 300;
    font-size: 32px;
    margin-top: 6px;
}

h2 {
    font-weight: 400;
    font-size: 24px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

a {
    color: black;
    /* text-decoration: none; */
    /* font-weight: 700; */
}

a:hover {
    color: teal;
    /* text-decoration: none; */
    cursor: pointer;
}

.selected-pattern-header {
    margin-bottom: 20px;
}

.download-svg {
    float: right;
    margin-top: 8px;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    text-shadow: none;
    border: none;
    border-radius: 4px;
}

.btn-primary {
    color: #FFFFFF;
    margin-right: 20px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
    background-color: #9179BA;
    background-image: none;
    padding: 5px 20px;
    margin-top: 1px;
}

.btn-hazprimary {
    color: #FFFFFF;
    margin-right: 20px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
    background-color: #ec35a0;
    background-image: none;
    padding: 5px 20px;
    margin-top: 1px;
}

.btn-link {
    color: #9179BA;
    background-image: none;
    padding: 0;
}

.btn-link:hover {
    color: #55476E;
    text-decoration: none;
}

.svg-icon {
    margin-top: -2px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    background-color: #9179BA;
}

.btn-default {
    background: #fff;
    color: #9179ba;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
    background-color: #ffffff;
    color: #55476E;
    border: 1px solid #9179BA;
}

section {
    padding: 40px 0 20px 0;
}

section#patterns {
    background-color: #FAFAFA;
    border-bottom: 1px solid #D0D0D0;
}


/* a.browse-patterns {
    font-weight: 700;
    font-size: 16px;
    color: #9179BA;
}

a.browse-patterns:hover {
    text-decoration: none;
    color: #55476E;
} */

.pattern-container {
    position: relative;
    border: 1px solid #ccc;
    height: 220px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}

.pattern-container:hover {
    box-shadow: 0 0 0 3px #9179BA;
    border: 1px solid #9179BA;
}

.modal-pattern-container {
    position: relative;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    height: 300px;
    margin-bottom: 0px;
    width: 100px;
}

.pattern-info {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    padding: 12px;
    width: 100%;
}

.pattern-size {
    font-size: 14px;
    color: #9B9B9B;
    line-height: 20px;
}

.form-control>label {
    display: block;
    margin-bottom: 0.5em;
}

.color-input {
    display: flex;
    border-radius: 0.25em;
    border: 1px solid rgba(0, 0, 0, 0.4);
    overflow: hidden;
    height: 36px;
}

.color-input-swatch {
    border: none;
    display: flex;
    width: 100%;
    outline: none;
    background: none;
    padding: 6px;
}

.color-input-swatch.sp-active,
.color-input-swatch:hover {
    border-color: rgba(0, 0, 0, 0.2);
}

.sp-container {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.25em;
}

.sp-dd {
    display: none;
}

.sp-preview {
    height: auto;
    width: 100%;
    border: none;
    margin-right: 0;
}

.sp-preview-inner {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.color-input-value {
    display: block;
    padding: 0.5em;
}

label {
    font-weight: 400;
    margin-bottom: 0.5em;
}

input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 100%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */
    padding-top: 20px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #B7B7B7;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -7px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 0;
    background: #F5F5F5;
    border-radius: 4px;
    border: 1px solid #B7B7B7;
}


/* Prevent jscolor from showing up behind modal */

.modal-backdrop {
    z-index: 800;
}

.modal {
    z-index: 900;
}

.gyp-modal-width {
    width: 66%;
}

.modal-content {
    box-shadow: none;
    border: 0;
    border-radius: 25px;
}

.modal-header {
    padding: 20px 40px 20px 40px;
    border-bottom: 0;
    /* background: #3D3847; */
}

.modal-body {
    padding: 20px 40px 20px 40px;
}

.modal-footer {
    padding: 20px 40px 20px 40px;
    border-top: none;
}

.close {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
    text-shadow: none;
    line-height: 34.2857px;
}

.close svg {
    margin-right: 0px;
}


/* .appearance-settings h4 {
    margin-top: 0;
} */

.form-control {
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}

.modal-appearance .form-control {
    height: 80px;
    padding: 0;
    border: none;
}

.overview-desc {
    margin-bottom: 20px;
}

.features {
    background: #FAFDFF;
    border-top: 1px solid #E3E5E7;
    border-bottom: 1px solid #E3E5E7;
}

.icon-section {
    border-bottom: 1px solid #E3E5E7;
}

.feature {
    margin-bottom: 28px;
}

figure {
    margin-bottom: 20px;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
}

.footer {
    background: #3D3847;
}

h2.icons-title {
    float: left;
    margin: 0;
    line-height: inherit;
}

.icon-section .navbar {
    border-bottom: 1px solid #ccc;
    margin-bottom: 28px;
}

.navbar-text {
    margin-top: 18px;
}

.navbar-right {
    margin-right: 0;
}

svg {
    fill: #384348;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#icon-shape {
    fill: #384348;
}

.svg-icon {
    font-size: 16px;
    color: #6F7E85;
    line-height: 30px;
    display: inline-block;
}

.svg-icon-social {
    font-size: 18px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
}

.aligned-center {
    text-align: center;
}

@media (max-width: 992px) {}

.gyp-modal-width {
    width: 66%;
}

@media (max-width: 600px) {
    .gyp-modal-width {
        width: 100%;
    }
    .modal-pattern-container {
        height: 120px;
        margin-bottom: 40px;
    }
    .btn {
        margin: 0 0px;
    }
    .btn {
        font-size: 16px;
        font-weight: 500;
        text-shadow: none;
        border: none;
        border-radius: 4px;
        margin: 0;
    }
    .btn-default {
        margin-right: 0px;
        border: 1px solid #adadad;
    }
    .download-svg {
        display: none;
    }
}

@media (max-width: 475px) {
    .gyp-modal-width {
        width: 100%;
    }
    .modal-header {
        padding: 20px;
        border-bottom: 0;
        background: white;
    }
    .modal-body {
        padding: 20px;
    }
    .modal-footer {
        padding: 20px;
        border-top: none;
    }
}