@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.cd__main {
    background: transparent;
    width: 66px;
    height: 66px;
    top: 430px;
    left: 66px;
    position: absolute;
}

/*********************************************
Floating Menu:
**********************************************/
ul.fmenu {
    color: #fff;
    display: inline-block;
    list-style: none;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    margin-left: 10px;
    white-space: nowrap;
}

ul.fmenu>li.fmenu-item {
    display: inline-block;
    margin-right: 1rem;
    position: relative;
}

ul.fmenu .trigger-menu {
    display: flex;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 3rem;
    max-width: 3rem;
    height: 3rem;
    border: 0.45rem solid transparent;
    border-radius: 3rem;
    overflow: hidden;
    text-align: center;
    background-color: #1102e7;
    cursor: pointer;
    transition: max-width ease 0.4s;
}

ul.fmenu .trigger-menu i {
    display: block;
    margin: 0 0.2925rem;
    color: white;
    font-size: 1.5rem;
    transition: color ease 0.3s;
}

ul.fmenu .trigger-menu span {
    display: block;
    font-size: 1rem;
    padding: 0 1ch;
}

ul.fmenu .trigger-menu.expanded {
    max-width: unset !important;
}

ul.fmenu .trigger-menu.open i {
    color: #ffd53e;
}

ul.fmenu .trigger-menu:hover:not(.expanded) i {
    color: #ffd53e;
}

ul.fmenu .floating-menu {
    display: block;
    position: absolute;
    top: 3.75rem;
    min-width: 100%;
    max-width: 250px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #1102e7;
    border-radius: 0.75rem;
    overflow: hidden;
    max-height: 0px;
    z-index: 100;
    opacity: 0;
    transition: max-height ease 0.6s, opacity ease 0.3s;
}

ul.fmenu .floating-menu>li {
    padding: 0 0.5rem;
    /* padding-left: 18px; */
    /* padding-top: 8px; */
}

ul.fmenu .floating-menu>li a {
    color: #fff;
    font-size: 0.85rem;
    text-decoration: none;
    display: block;
    padding: 0.75rem 0.5rem;
}

ul.fmenu .floating-menu>li a i {
    margin-right: 1ch;
}

ul.fmenu .floating-menu>li a:hover {
    color: #ffd53e;
}

ul.fmenu .floating-menu>li:not(:last-child) a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}